<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Influential Users</title>

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>

  <!-- navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <a href="." class="navbar-brand">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        Influential Users
      </a>
    </div>
  </nav>

  <!-- main body of our application -->
  <div class="container" id="influential-rank">
    <div class="row">
      <div class="col-sm-12">
        <h3>Interactions Overview</h3>
        <p>Summary of interations by types (filtered)</p>
        <ul class="list-inline" id="types">
          <li v-for="type in typesOfInteraction">

            <div class="chart-wrap"
               v-bind:id="'chart-'+lowercase(type.id)"
               v-bind:class="{ active: type.active }"
               v-bind:title="'Clicking here ' + numberOfInteractions({ type: type.id }) + ' interactions from this type will be ' + (type.active ? 'disable.' : 'enable.')"
               >
              <span class="chart" v-bind:data-percent="percentageOfInteraction(type, null, false)">
                <span class="percent"></span>
              </span>
              <span class="title" v-on:click="toggleActive(type)">{{ numberOfInteractions({ type: type.id }) }} {{ type.name }}s</span>
            </div>

          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <!-- brands list -->
      <div class="brands-wrap col-sm-4">
        <h3>Brands</h3>
        <p>Filter by brand need only a click</p>
        <ul class="brand-list list-unstyled" id="brands">
          <li class="brand-item" v-for="brand in brands">
            <a class="brand-link" href="javascript:void(0);"
               v-bind:class="{ active: brand.active }"
               v-bind:title="'Clicking here ' + numberOfInteractions({ brand: brand.id }) + ' interactions from this brand will be ' + (brand.active ? 'disable.' : 'enable.')"
               v-on:click="toggleActive(brand)">
              <img class="brand-img" v-bind:src="brand.image" v-bind:alt="brand.name">
              <span>{{ brand.name }}</span>

              <i class="fa" v-bind:class="[ brand.active ? 'fa-toggle-on' : 'fa-toggle-off' ]" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- users list -->
      <div class="users-wrap col-sm-8">
        <h3>Users Ranking</h3>
        <p>Base on <a href="https://github.com/alexandre-gauge/frontend_data/blob/master/interactions.json">alexandre's frontend data</a> at GitHub</p>
        <div class="well well-sm listing-tools">
          <ul class="list-inline">
            <li>
              <i title="sorting by" class="fa fa-sort" aria-hidden="true"></i>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ (userOrder.orderBy == 'totalInteractions') ? 'btn-primary' : 'btn-default' ]"
                    v-on:click="sortUsersBy('totalInteractions', 'desc')">Influence</a>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ (userOrder.orderBy == 'name.first') ? 'btn-primary' : 'btn-default' ]"
                    v-on:click="sortUsersBy('name.first', 'asc')">Name</a>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ (userOrder.orderBy == 'registered' && userOrder.order == 'asc') ? 'btn-primary' : 'btn-default' ]"
                    v-on:click="sortUsersBy('registered', 'asc')">Old Users</a>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ (userOrder.orderBy == 'registered' && userOrder.order == 'desc') ? 'btn-primary' : 'btn-default' ]"
                    v-on:click="sortUsersBy('registered', 'desc')">New Users </a>
            </li>
            <li>
              <i title="filtering by" class="fa fa-filter" aria-hidden="true"></i>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ userFilters.ageGroup.tens ? 'btn-success' : 'btn-danger' ]"
                    v-on:click="toggleFilter('ageGroup', 'tens')">Tens (0-18)</a>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ userFilters.ageGroup.adults ? 'btn-success' : 'btn-danger' ]"
                    v-on:click="toggleFilter('ageGroup', 'adults')">Adults (>18)</a>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ userFilters.gender.male ? 'btn-success' : 'btn-danger' ]"
                    v-on:click="toggleFilter('gender', 'male')">Men</a>
              <a href="javascript:void(0);" class="btn btn-xs"
                    v-bind:class="[ userFilters.gender.female ? 'btn-success' : 'btn-danger' ]"
                    v-on:click="toggleFilter('gender', 'female')">Women</a>
            </li>
            <li v-if="totalInteractions > 0">
              <i title="exports as..." class="fa fa-download" aria-hidden="true"></i>
              <a class="btn btn-default btn-xs" href="javascript:void(0);" title="influential-users.csv"
                v-on:click="exportsAsCSV()">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                 CSV
              </a>
              <a class="btn btn-default btn-xs" href="javascript:void(0);" title="influential-users.json"
                v-on:click="exportsAsJSON()">
                <i class="fa fa-file-code-o" aria-hidden="true"></i>
                 JSON
              </a>
            </li>
          </ul>
        </div>
        <table id="users" class="table table-hover">
          <thead>
            <tr>
              <th width="30" class="text-center">#ID</th>
              <th>Name</th>
              <th width="30%" class="text-center">Interactions</th>
              <th width="150" class="text-center">Influence (Interactions)</th>
            </tr>
          </thead>
          <tbody>
            <tr class="user-row" v-for="user in influentialUsers">
              <td class="text-center">{{ user.id }}</td>
              <td>
                {{ user.fullName }}
                <img class="img-circle" v-bind:src="user.picture.thumbnail">
              </td>
              <td class="text-center">
              <div class="interactions-bar list-inline">
                <span v-for="type in typesOfInteraction"
                      v-bind:class="lowercase(type.id)"
                      v-bind:style="{ width: percentageOfInteraction(type, user) }">
                  {{ numberOfInteractions({ user: user.id, type: type.id }) }}
                </span>
              </div>
              </td>
              <td class="text-center">
                {{ percentageOfInfluence(user) }}
                ({{ numberOfInteractions({ user: user.id }) }})
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="node_modules/lodash/lodash.js"></script>
  <script src="node_modules/json2csv/dist/json2csv.js"></script>
  <script src="node_modules/easy-pie-chart/dist/easypiechart.min.js"></script>
  <script src="app.js"></script>
</body>
</html>